* {
    max-width: 100%;

}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}




/* navbar style */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 0px 200px;
    background-color: rgba(26, 11, 46, 1);
    
}
.phone img{
    display: none;
}

.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.first{
    font-size: 26px;
    font-weight: 600;
  color: #FFFFFF;
  

}

.last{
   
    font-size: 26px;
    font-weight: 600;
    background:linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.list ul{
    display: flex;
     justify-content: space-between;
    gap: 30px;
   list-style: none;
}

.list a{
    color: #FFFFFF;
    text-decoration: none;
   
}

.Subscribe{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
     background:linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
color: #FFFFFF;
font-size: 16px;
font-weight: 600;
padding: 12px 16px ;
border-radius: 20px;
  border: none;
    
}

/* hero style */

.hero{
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
/* parent img */
.hero img{
    max-width: 100%;
    height: auto;
    
    display: block;
    
}
 /* child img */

.circle{
    position: absolute;
    left:50% ;
    transform: translateX(-50%);
    top: 7%;
    /* height:10em; */
    width: clamp(120px, 30vw, 320px);
    /* max-width: 100%;
    max-height: auto; */
}
.microphone {
     position: absolute;
    left: 54%;
    transform: translateX(-54%);
    top: 17%;
    /* max-height: auto; */
    width: clamp(90px, 12vw, 160px);

}

.btn {
    background: #00FF88;
    color: #1A0B2E;
    position: absolute;
    left: 55%;
    top: 8%;
    border: none;
    border-radius: 1000px;
    font-size:15px ;
    font-weight: 400;
    padding: 4px 9px;
}

.text-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.font{
    color: rgba(255, 255, 255, 1);
    font-style: Extra Bold;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 2px;
    
}

.similar{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
font-weight: 400;
}




.container{
    display: flex;
    gap: 10px;
}

.spotify-btn{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
     background:linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
color: #FFFFFF;
font-size: 16px;
font-weight: 600;
padding: 12px 16px ;
border-radius: 20px;
  border: none;
}

.green-btn{
    color: rgba(0, 255, 136, 1);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 0 auto;
    padding: 12px 20px;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 10000px;
     background-color: rgba(26, 11, 46, 1);
}

/* About section */

.background{
    background-color: rgba(26, 11, 46, 1); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 100%;
   margin-bottom: 0 ;
    padding-bottom: 0;
   
}

.large{
    color:  rgba(255, 255, 255, 1);
    font-style: Bold;
font-size: 48px;
font-weight: 700;
margin-bottom: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    padding: 40px 20px;
   text-align: center;
}

/* .god-parent{
    padding: 120px 200px;
} */
.boss{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between; 
    margin-top: 0; 
    padding: 0 120px 30px 120px;
    
    overflow: hidden;
}

.digit{
    color: rgba(0, 255, 136, 1);
    font-style: Black;
font-size: 48px;
font-weight: 900;
margin-bottom: 0;

}

.card{
    
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 2px;
}
/* box section */

.box-set{
    background-color: rgba(35, 14, 61, 1);
    padding: 10px 120px 30px 120px;

}
.box-set>*:not(.no-style){
background-color:rgba(53, 17, 101, 0.4) ;
border-radius:40px ;
padding: 40px;
}


.box-1{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    
    gap: 5px;
    
    padding: 120px 200px;
}

.box-1 img{
    width: 50px;
    height: 50px;
    margin-top: 55px;
}

.box-4 img{
    width: 60px;
    height: 60px;
}
.no-style{
    grid-area: header;
    color: rgba(255, 255, 255, 1);
    /* display: flex; */
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: stretch; 
     grid-area: span;
    align-self: center;
    text-transform: capitalize;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    padding: 30px 0;
    width: 100%;
    grid-area: span;
}

.top{
  color: rgba(255, 255, 255, 1);
  font-style: Bold;
font-size: 24px;
font-weight: 700;
text-align: left;
margin-bottom: 1px;
padding-bottom: none;
}

.box-set span{
    grid-area: span;
    background-color: rgba(35, 14, 61, 1);
   
}
.box-1{
    grid-area:box-1 ;
}

.box-2{
    grid-area:box-2 ;
}

.box-3{
    grid-area:box-3 ;
}

.box-4{
    grid-area:box-4 ;
}

.box-5{
    grid-area:box-5 ;
}

.box-set{
    display: grid;
    gap: 20px;
    padding: 60px 120px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header "
    "box-1 box-2 box-2"
    "box-1 box-3 box-3"
    "box-4 box-4 box-5" ;


}

.youtube{
    background: rgba(26, 11, 46, 1);
    padding-bottom: 100px;
 
}

.large-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
     color:  rgba(255, 255, 255, 1);
    font-style: Bold;
font-size: 48px;
font-weight: 700;
    
}


.video{
    width: 300px;
    height: 500px;
   /* border: 3px solid rgb(9, 1, 21);  */
     background: rgba(37, 13, 68, 1);
    border-radius: 24px ;
    background-color: url(2151933100);
}

.all-the-card{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 10px 120px;
}

.watch{
    color: rgba(0, 255, 136, 1);
    display: flex;
    gap: 5px;
    font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
}

.Featured{
    padding: 0 20px;
    background: rgba(37, 13, 68, 1);
}

.dark{
    background-color: rgba(26, 11, 46, 1);
    padding: 0px 120px 120px ;
}

.low-image{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
    margin: o 120px;
    background-color:  rgba(53, 17, 101, 0.4);
    
   
    
}

.padding{
    
    margin-bottom: 0;
}


.low-text{
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
font-size: 32px;
font-weight: 700;
text-align: left;
padding-bottom: 0;
margin-bottom: 0;
}

.img{
    display: flex;
    gap: 6px;
   margin-top: 0;
}

.img-1,
.img-2,
.img-3,
.img-4{
    width: 40px;
    height: 40px;
    
    border: 2px solid rgba(26, 11, 46, 1);
   padding:10px;
    border-radius: 20px;
    display: flex;       
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
}


/* footer section */

.hero-footer{
    max-width: 100%;
position: relative;

}

.bottom{
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    top: 40px;
width: 410px;
height: 60px;

}

.first-X{
     font-size: 64px;
    font-weight: 700;
  color: #FFFFFF;
  
}

.last-X{
    font-size: 64px;
    font-weight: 700;
    background:linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.last-section{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 145px;
    text-align: center;
    align-items: center;
}

.white-image-parent{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.white-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    
}

.white-image img{
    width: 24px;
    height: 24px;
}







@media screen and (max-width:576px) {
.phone img{
    display: block;
}
.navbar{
    padding: 16px 20px;
}
.list,
.Subscribe{
    display: none;
}
.phone{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(26, 11, 46, 1);
}


/* .hero{
    padding-bottom: ;
} */
    .microphone{
        width: 50px;
        top: 17%;
    }
    .btn{
        width: 35px;
        font-size: 11px;
        top:8% ;
        padding: 1px 2px;
        border-radius: 800px;
    }
    
    .text-box{
         top: 55%;
        width: 90%;
       box-sizing: border-box;
        text-align: center;
    }
    .font{
       margin-top: 20px;
        font-size: 10px;

    }
    .similar{
       font-size: 10px; 
       margin: 8px 0;
    }

    #hero-p{
       margin-top: 0; 
       margin-bottom: 0;
    }
    .container{
       display:flex;
        gap: 8px;
        padding-bottom: 5px;
        margin-bottom: 10px;
       
        
    }
.container button{
        font-size: 10px;
        padding: 2px 4px;
        border-radius: 999px;
    }

    .spotify-btn{
         display: flex;
        margin-top: 2px;
        font-size: 5px;
    }

    .spotify-btn img{
        width: 9px;
        height: 9px;
        margin-top: 1.5px;
    }

    .green-btn{
        display: flex;
        margin-top: 4px;
        padding: 2px 3px;
        align-items: center;
    }

    .green-btn img{
       
        width: 7px;
        height: 7px;
       
    }

.large{
   font-size: 18px;
font-weight: 300; 
}

.boss{
display: grid;
justify-content: space-between;
gap: 50px;
padding: 0 10px 10px 30px;
grid-template-columns: repeat(2,1fr);
}

    .box-set{
       display: flex;
       flex-direction: column;
       align-items: center;
       box-sizing: border-box;
        padding: 40px 20px;
        gap: 20px;
        
       
    }

    .box-1 img{
margin-top: 0;
    }



    .no-style {
        font-size: 28px;
        text-align: center;
        justify-content: center;
        background-color: transparent;
        padding : 10px 0;
    }

    .box-set>*{
        grid-area: auto;
       max-width: 100%;
       padding: 15px;
       margin: 0;
       box-sizing: border-box;
    }

    .youtube,
    .all-the-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        align-items: center;
        width: 100%;
    }

    .large-text{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .no-style{
        font-style: Bold;
font-size: 32px;
font-weight: 700;
    }
    

    .low-image{
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
    }

    .dark{
        padding: 0 20px 10px;
    }






    

    .hero-footer{
    max-width: 100%;
position: relative;

}

.bottom{
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
    top: 15px;

}

.first-X{
     font-size: 26px;
    font-weight: 300;
 
  
}

.last-X{
    font-size: 26px;
    font-weight: 300;

}

.last-section{
    position: absolute;
    left: 51.9%;
    transform: translateX(-50%);
    top: 55px;
}

.white-image-parent{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 0px;
    row-gap: 0px;
    gap: 0px;
    
}

.last-section >* {
    margin: 0;
}

.white-image-parent >* {
    margin: 0;
}

.white-image{
    display: flex;
    justify-content: flex-start;
    gap: 2px;
    
}

.white-image img{
    width: 10px;
    height: 10px;
}



    }